<div class="ui {{#if THEME.INVERTED}}inverted{{/if}} {{THEME.COLOR}} vertical footer segment center aligned">
  This toolkit was created with
  <a class="item" href="https://github.com/dietergeerts/fabricator-builder-core" target="_blank"
     style="color: currentColor; text-decoration: underline;">
    Fabricator Builder
  </a>
</div>
