<div class="ui {{#if THEME.INVERTED}}inverted{{/if}} {{THEME.COLOR}} masthead center aligned vertical segment"
     style="padding-top: 8rem; padding-bottom: 2.5rem;">
  <div class="ui text container">
    <h1>{{uppercase HEADER}}<br/><small>{{SUB_HEADER}}</small></h1>
  </div>
</div>
