$white: #FFFFFF;
$black: #000000;

.f-menu {
  position: fixed; top: 0; left: 0; right: 0; bottom: 0;
  display: flex; flex-direction: column; z-index: 2000;
}

.f-menu-top {
  flex: 0 0 auto; display: flex; flex-wrap: wrap;
  background: $black; color: $white;
  > *.f-open { background: $white; color: $black; }
  > * { text-transform: uppercase; padding: 4px 8px; cursor: pointer; }
}

.f-menu-sub {
  &:not(.f-open) { display: none; }
  background: $white; color: $black;
  flex: 1 1 auto; display: block;
}
