$white: #FFFFFF;
$gray: #E6E6E6;
$black: #181830;
$yellow: #E7AD00;

$spacer: 1rem;
$font: sans-serif;
$font-base: 16px;
$reading-width: 35rem + $spacer*2;

@mixin f-title($h) {
  font-weight: 500;
  @if $h == 1 { font-size: 3rem; }
  @if $h == 2 { font-size: 1.75rem; }
  &:first-letter { text-transform: uppercase; }
}

@mixin f-content($spacer-top: $spacer, $spacer-bottom: $spacer) {
  padding: $spacer-top $spacer $spacer-bottom; max-width: $reading-width;
}

.f-style { font-family: $font; font-size: $font-base; font-weight: normal; color: $black; }

.f-band-full { @media(min-width: $reading-width) { padding-left: calc((100% - #{$reading-width}) * 0.3); } }
.f-band-half { @media(min-width: $reading-width) { margin-left: calc((100% - #{$reading-width}) * 0.3); } }

.f-white { background: $white; }
.f-gray { background: $gray; }
.f-black { background: $black; color: $white; }
.f-yellow { background: $yellow; color: $white; }

.f-menu {
  position: fixed; top: 0; left: 0; right: 0; max-height: 100%;
  display: flex; flex-direction: column; z-index: 2000;
}

.f-menu-top {
  flex: none; display: flex; flex-wrap: wrap;
  > *.f-open { background: $yellow; color: $black; }
  > * { text-transform: capitalize; @include f-content($spacer/2, $spacer/2); cursor: pointer; }
}

.f-menu-sub {
  &:not(.f-open) { display: none; }
  overflow-y: auto; flex: auto; padding: $spacer*2 $spacer 0;
  background: $white; color: $black; border-top: 4px solid $yellow;
  box-shadow: 0 0 8px 0 $black;
  display: flex; flex-direction: column; flex-wrap: wrap;
}

.f-menu-group {
  margin-bottom: $spacer;
  > *:first-child { text-transform: uppercase; margin-bottom: $spacer/2; }
  > *:not(:first-child) { padding-left: $spacer*1.5; }
}

.f-body { margin: 0; }

.f-view-header {
  @include f-title(1); @include f-content($spacer*3.75, $spacer*3);
  div:nth-child(2) { font-size: 0.35em; font-weight: 400; }
}

.f-material-header { @include f-title(2); @include f-content($spacer*3.75, $spacer/2); }

.f-material-notes { @include f-content(); & > * { margin: 0; & + * { margin-top: $spacer/2; } } }

.f-material-preview { @include f-content(); }

.f-material-sources-filenames {
  display: flex; flex-wrap: wrap;
  > *.f-open { color: $yellow; }
  > * { @include f-content($spacer/2, $spacer/2); cursor: pointer; }
}

.f-material-sources-contents {
  border-left: 2px solid $yellow;
  > * { &:not(.f-open) { display: none; } @include f-content(); > * { margin: 0; } }
}
